html
    include ../components/head

    body
        .container
            include ../components/header

            .notification.is-danger
                p 
                    |you are forbidden to add new recipes until you <a href="/user/login">sign in
                    |</a> or <a href="/user/register">sign up</a>.